@model CustomerViewModel

@{
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <p class="mt-0 mb-2 fw-semibold text-dark font-18 text-center">@ViewBag.RenderedHtmlTitle</p>
            <form asp-action="AddOrEdit" asp-controller="Customer" asp-route-id="@Model.CID">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CID" value="@Model.CID" />
                <div>
                    <div class="form-group mb-2">
                        <label asp-for="cName" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="cName" class="form-control" placeholder="Nhập họ và tên khách hàng" value="@Model.cName" />
                        </div>
                        <span asp-validation-for="cName" class="text-danger"></span>
                    </div><!--end form-group-->

                    <div class="form-group mb-2">
                        <div class="form-check">
                            <input asp-for="cSex" class="form-check-input" type="checkbox"
                                   onchange="$('#cSex').val(this.checked)" value="@Model.cSex">
                            <label asp-for="cSex" class="form-check-label"></label>
                        </div>
                    </div><!--end form-group-->
                    <div class="form-group mb-2">
                        <label asp-for="cAddress" class="control-label"></label>
                        <div class="input-group mb-2">
                            <textarea asp-for="cAddress" class="form-control" placeholder="Nhập địa chỉ khách hàng" rows="3">
                                @Model.cAddress</textarea>
                        </div>
                        <span asp-validation-for="cAddress" class="text-danger"></span>
                    </div><!--end form-group-->
                    <div class="form-group">
                        <br />
                        <div class="col-md-12 offset-md-5">
                            <div class="d-flex">
                                <div style="margin-right:10px;">
                                    <input type="submit" value="Submit" class="btn btn-primary btn-block" style="width:80px" />
                                </div>
                                <div>
                                    <a asp-controller="Customer" asp-action="Index" class="btn btn-success text-white"><i class="fe-log-out"></i> Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- end card-->
</div>

@section scripts{
}